[submodule "pymisp"]
	path = pymisp
	url = ssh://git@prod-bb-1.phantom.local:7999/per/pymisp.git
    ignore = dirty
[submodule "jsonschema"]
	path = jsonschema
	url = ssh://git@prod-bb-1.phantom.local:7999/per/jsonschema.git
    ignore = dirty
